Import libraries

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

Load dataset

In [8]:
df = pd.read_csv('insurance_dataset.csv')

In [9]:
print("First few rows of the dataset:")
df.head()

First few rows of the dataset:

,age,gender,bmi,children,smoker,region,medical_history,family_medical_history,exercise_frequency,occupation,coverage_level,charges
0,46,male,21.45,5,yes,southeast,Diabetes,None,Never,Blue collar,Premium,20460.307669
1,25,female,25.38,2,yes,northwest,Diabetes,High blood pressure,Occasionally,White collar,Premium,20390.899218
2,38,male,44.88,2,yes,southwest,None,High blood pressure,Occasionally,Blue collar,Premium,20204.476302
3,25,male,19.89,0,no,northwest,None,Diabetes,Rarely,White collar,Standard,11789.029843
4,49,male,38.21,3,yes,northwest,Diabetes,High blood pressure,Rarely,White collar,Standard,19268.309838

In [10]:
# list of the columns in the dataframe 
print(df.columns)

Index(['age', 'gender', 'bmi', 'children', 'smoker', 'region',
       'medical_history', 'family_medical_history', 'exercise_frequency',
       'occupation', 'coverage_level', 'charges'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 12 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   age                     1000000 non-null  int64
 1   gender                  1000000 non-null  object
 2   bmi                     1000000 non-null  float64
 3   children                1000000 non-null  int64
 4   smoker                  1000000 non-null  object
 5   region                  1000000 non-null  object
 6   medical_history         1000000 non-null  object
 7   family_medical_history  1000000 non-null  object
 8   exercise_frequency      1000000 non-null  object
 9   occupation              1000000 non-null  object
 10  coverage_level          1000000 non-null  object
 11  charges                 1000000 non-null  float64
dtypes: float64(2), int64(2), object(8)
memory usage: 91.6+ MB

Check for missing values in each column

In [12]:
df.isnull().sum()

age                       0
gender                    0
bmi                       0
children                  0
smoker                    0
region                    0
medical_history           0
family_medical_history    0
exercise_frequency        0
occupation                0
coverage_level            0
charges                   0
dtype: int64

In [13]:
df

,age,gender,bmi,children,smoker,region,medical_history,family_medical_history,exercise_frequency,occupation,coverage_level,charges
0,46,male,21.45,5,yes,southeast,Diabetes,None,Never,Blue collar,Premium,20460.307669
1,25,female,25.38,2,yes,northwest,Diabetes,High blood pressure,Occasionally,White collar,Premium,20390.899218
2,38,male,44.88,2,yes,southwest,None,High blood pressure,Occasionally,Blue collar,Premium,20204.476302
3,25,male,19.89,0,no,northwest,None,Diabetes,Rarely,White collar,Standard,11789.029843
4,49,male,38.21,3,yes,northwest,Diabetes,High blood pressure,Rarely,White collar,Standard,19268.309838
...,...,...,...,...,...,...,...,...,...,...,...,...
999995,59,male,46.67,2,no,northeast,High blood pressure,None,Frequently,Student,Basic,11584.134900
999996,33,male,36.83,2,no,northeast,None,High blood pressure,Frequently,Unemployed,Basic,9834.871456
999997,39,male,39.84,0,yes,northeast,Heart disease,High blood pressure,Rarely,Blue collar,Standard,22076.632856
999998,37,female,45.06,4,yes,northeast,High blood pressure,Diabetes,Occasionally,Unemployed,Premium,20297.618728
999999,41,male,30.02,2,yes,northeast,Diabetes,Heart disease,Occasionally,Blue collar,Standard,23429.725030

Summary statistics for numerical columns

In [14]:
summary_stats = df.describe()
print("\nSummary statistics for numerical columns:")
print(summary_stats)

Summary statistics for numerical columns:
                  age             bmi        children         charges
count  1000000.000000  1000000.000000  1000000.000000  1000000.000000
mean        41.495282       34.001839        2.499886    16735.117481
std         13.855189        9.231680        1.707679     4415.808211
min         18.000000       18.000000        0.000000     3445.011643
25%         29.000000       26.020000        1.000000    13600.372379
50%         41.000000       34.000000        2.000000    16622.127973
75%         53.000000       41.990000        4.000000    19781.465410
max         65.000000       50.000000        5.000000    32561.560374